body{
    font-family: 'Forum', cursive;
}

.Presentacion{
    text-align: end;
    margin-bottom: 20px;
}

.LH{
    border-top: double black 3px;
}
h1, h3{
    font-weight: bold;
}

h5{
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

h2{
    color: #654985;
    font-weight: bold;
}


.foto{
    height: 230px;
    margin-top: 20px;
}
.info{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(234,214,246,1) 55%, rgba(176,124,255,1) 100%);
}

.info2{
    border-left: black solid 3px;
    background-color: white;
}

.info_personal{
    padding-left: 20px;
    padding-right: 20px;
}

.lista1{
    padding-top: 30px;
}

.iconos{
    padding-right: 60px;
}
.izq{
    padding-left: 77px;
}
.contacto{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.Objetivo{
    padding-top: 30px;
    text-align: justify;
}

.estudios{
    margin: 20px;
    margin-bottom: 35px;
}

.lista{
    list-style: none;
    padding-inline-start: 30px;
}